# Ignore node_modules folder
node_modules/

# Ignore log files
npm-debug.log
yarn-error.log

# Ignore environment variables
.env

# Ignore build directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
